:root{
  /* https://colorhunt.co/palette/1b262c0f4c753282b8bbe1fa */
  --theme-mycolor-1: #1B262C;
  --theme-mycolor-2: #0F4C75;
  --theme-mycolor-3: #3282B8;
  --theme-mycolor-4: #BBE1FA ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*My Style*/
.bg-mycolor-1{
  background-color: var(--theme-mycolor-1) !important;
}